PORT= 3000
CORS_ORIGIN=*
MONGODB_URL=mongodb+srv://visheshpandey99:<db_password>@cluster0.qgzwuys.mongodb.net
ACCESS_TOKEN_SECRET=secret token
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=secret token
REFRESH_TOKEN_EXPIRY=10d